body {
  margin: 0 0 0 0;
}

.popcorn-slideshow {
  height: 98%;
  position: relative !important;
  background-color: #00244a;
  display: inline-block !important;
  overflow: hidden !important;
  color: #DDDEE3;
  float: left !important;

}

.spacer {
  width: 1px !important;
  position: relative;
  display: inline-block !important;
  background-color: rgba(255,255,255, 0.9) !important;
  float: left !important;
}

.innerContainer {
  width: 100% !important;
}

.transcript {
  display: none;
  font-family: monospace, sans-serif;
}

.project-container {
  width: 100%;
  height: 100%;
}

.deck-container {
  position: absolute;
  top: 0;
  height: 80%;
  left: 0;
  right: 0;
}

.controls-and-transcript {
  position: absolute;
  width: 100%;
  top: 80%;
  height: 20%;
}

.popcorn-transcript {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px; /* .mejs-container's height */
  bottom: 0;
  font-size: 1.5em;
  font-family: Verdana, sans-serif;
  background-color: rgba(0,36,74, 0.4);
  overflow-y: auto;
}

.popcorn-transcript p {
  margin: .125em;
  margin-bottom: 0.25em;
}

.transcript {
  display: none;
}

.printable-slide {
  height: 400px;
  /*width: 300px;*/
  width: 45%;
  display: inline-block;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: black !important;
  position: relative;
}

.printable-transcript {
  width: 45%;
  float: right;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: black !important;
  padding: 5px;
}

#transcript-editor, #printable {
  width: 100%;
  float: left;
  padding: 1% 1% 0% 1%;
  margin-top: 100px;
  margin-bottom: 400px;
  text-align: center;
}

.printable-container {
  clear: both;
}

.printable-body {
  width: 100%;
  height: 100% !important;
  overflow: auto !important;
  padding: 0 0px;
  text-align: left;
}

/* floating editor controls */

#sd-editor-controls {
  position: fixed;
  right: 8px;
  top: 40px;
  padding: 2px;
  background: white;
  border-radius: 6px;
  border: 2px solid black;
  z-index: 100;
  text-align: center;
  opacity: .25;
  font-family: sans-serif;
  -moz-transition-duration: 0.5s;
  -moz-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-property: opacity;
}

#sd-editor-controls button {
  cursor: pointer;
}

#sd-editor-controls:hover {
  opacity: 1.0;
}

#selection-message {
  text-align: center;
  font-weight: bold;
}

#selection-cancel {
  display: none;
}

#sd-editor-controls input[type=file] {
  color: transparent;
}

.selectable-target {
  -moz-animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  -moz-animation-name: fade-to-0p5;
  -webkit-animation-name: fade-to-0p5;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

.selectable-target:hover {
  text-decoration: underline;
}

@-webkit-keyframes fade-to-0p5 {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.5;
  }
}

@-moz-keyframes fade-to-0p5 {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.5;
  }
}

@media screen {
  .print-nav-link {
    z-index: 10;
    background-color: white;
    position: absolute;
    bottom: .5em;
    left: .5em;
    padding: .25em;
    border: 1px solid #888;
    font-size: 75%;
  }
}

@media print {
  .print-nav-link {
    display: none;
  }
}

body .mejs-container .mejs-controls .mejs-time span {
  width: 4em;
}
