body {
  margin: 0 0 0 0;
}

.popcorn-slideshow {
  height: 98%;
  position: relative !important;
  background-color: #00244a;
  display: inline-block !important;
  overflow: hidden !important;
  color: #DDDEE3;
  float: left !important;
}

.spacer {
  width: 1px !important;
  position: relative;
  display: inline-block !important;
  background-color: rgba(255,255,255, 0.9) !important;
  float: left !important;
}

.innerContainer {
  width: 100% !important;
}

.transcript {
  display: none;
  font-family: monospace, sans-serif;
}

.project-container {
  width: 100%;
  height: 100%;
}

.deck-container {
  position: absolute;
  top: 0;
  height: 80%;
  left: 0;
  right: 0;
}

.controls-and-transcript {
  position: absolute;
  width: 100%;
  top: 80%;
  height: 20%;
}

.popcorn-transcript {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px; /* .mejs-container's height */
  bottom: 0;
  font-size: 1.5em;
  font-family: Verdana, sans-serif;
  background-color: rgba(0,36,74, 0.4);
  overflow-y: auto;
}

.popcorn-transcript p {
  margin: .125em;
  margin-bottom: 0.25em;
}

.transcript {
  display: none;
}

.printable-slide {
  min-height: 400px;
  height: 100%;
  width: 49%;
  display: inline-block;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: black !important;
  position: relative;
}

.printable-transcript {
  width: 49%;
  float: right;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: black !important;
  padding: 5px;
}

.printable-container {
  width: 98%;
  float: left;
  padding: 1% 1% 0% 1%;
}

.printable-body {
  width: 100%;
  height: 100% !important;
  overflow: auto !important;
  padding: 0 0px;
}

@media screen {
  .print-nav-link {
    z-index: 10;
    background-color: white;
    position: absolute;
    bottom: .5em;
    left: .5em;
    padding: .25em;
    border: 1px solid #888;
    font-size: 75%;
  }
}

@media print {
  .print-nav-link {
    display: none;
  }
}

body .mejs-container .mejs-controls .mejs-time span {
  width: 4em;
}
